{
    "extends": [
        "four66"
    ],

    "env": {
        "node": true
    },

    "plugins": [
        "react"
    ],

    "parser": "babel-eslint",

    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "jsx": true
        }
    },

    "rules": {
        "newline-after-var": "off",
        "no-mixed-operators": "off"
    }
}
