// global-vars: @step-percentage, @scheme-base-color, @scheme-alternate-color

@step-height: unit(@step-percentage, vh);

@background-color: #010A0D;
@nav-background-color: #021C27;
@default-font-color: white;
@now-marker-color: #F0F3BD;
@grid-separator-color: white;

@event-background-color: @scheme-base-color;
@event-border-color: lighten(@event-background-color, 10%);
@event-background-color-past: darken(desaturate(@event-background-color, 80%), 10%);
@event-border-color-past: darken(desaturate(@event-border-color, 80%), 10%);

@event-background-color-alternate: @scheme-alternate-color;
@event-border-color-alternate: lighten(@event-background-color-alternate, 10%);
@event-background-color-past-alternate: darken(desaturate(@event-background-color-alternate, 80%), 10%);
@event-border-color-past-alternate: darken(desaturate(@event-border-color-alternate, 80%), 10%);

@event-background-active: repeating-linear-gradient(
    -45deg,
    @event-background-color,
    @event-background-color 10px,
    lighten(@event-background-color, 2%) 10px,
    lighten(@event-background-color, 2%) 20px
);

@event-background-active-alternate: repeating-linear-gradient(
    -45deg,
    @event-background-color-alternate,
    @event-background-color-alternate 10px,
    lighten(@event-background-color-alternate, 2%) 10px,
    lighten(@event-background-color-alternate, 2%) 20px
);

.responsive-font-size(@factor, @break: 1000px) {
    @media screen and (max-height: (@break - 1px)) {
        font-size: @factor * @step-height;
    }

    @media screen and (min-height: @break) {
        font-size: @break * @factor * (@step-percentage / 100);
    }
}

.absolute(@top: 0, @right: 0, @bottom: 0, @left: 0) {
    position: absolute;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: @default-font-color;

    &[href]:hover {
        text-decoration: underline;
    }
}

html {
    font-size: 16px;
}

body {
    background-color: black;
    color: @default-font-color;
    position: relative;
    overflow: hidden;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.content {
    overflow: hidden;
    background-color: @background-color;

    &.dimmed > :not(.nav) {
        opacity: 0.3;
    }
}

.nav {
    .absolute(@bottom: initial);

    background-color: @nav-background-color;
    display: flex;
    flex-direction: row;
    height: @step-height;
    z-index: 3;

    a {
        flex: 0 0 @step-height;
        font-size: 0.5 * @step-height;
        text-align: center;
        line-height: @step-height;

        &:hover {
            text-decoration: none;
        }
    }

    .self {
        flex: 1 0 auto;
        text-align: center;
        line-height: @step-height;
        font-size: 0.5 * @step-height;
    }
}

.now {
    @thickness: 0.4vh;

    .absolute(@top: initial, @bottom: initial);

    box-shadow: 0 0 1vh 0 rgba(0, 0, 0, 0.75);
    z-index: 2;
    opacity: 0.8;
    background-color: @now-marker-color;
    height: @thickness;
    margin-top: -0.5 * @thickness;

    &::before, &::after {
        content: '';
        color: @now-marker-color;
        position: absolute;
    }

    &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: (3 * @thickness) 0 (3 * @thickness) 1rem;
        left: 0;
        border-color: transparent transparent transparent @now-marker-color;
        margin-top: -2.5 * @thickness;
    }

    &::after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: (3 * @thickness) 1rem (3 * @thickness) 0;
        right: 0;
        border-color: transparent @now-marker-color transparent transparent;
        margin-top: -2.5 * @thickness
    }
}

ol.dayview {
    height: 100%;
    display: flex;
    flex-direction: column;

    li {
        display: flex;
        flex: 0 0 @step-height;
        font-size: 0.7rem;

        & + li {
            border-top: 1px dashed fade(@grid-separator-color, 20%);

            &.full {
                border-top: 1px solid fade(@grid-separator-color, 30%);

            }

            &:not(.full) .hour {
                visibility: hidden;
            }
        }

        .hour {
            text-align: center;
            width: 3rem;
            overflow: hidden;
            padding-top: 0.5vh;
        }
    }
}

.event {
    .absolute(@top: initial, @bottom: initial, @left: 3rem);

    z-index: 1;
    position: absolute;
    border-left-width: 0.5rem;
    border-left-style: solid;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;

    &:nth-of-type(odd) {
        background-color: @event-background-color;

        &.active {
            background: @event-background-active;
        }

        &.past {
            background-color: @event-background-color-past;
        }
    }

    &:nth-of-type(even) {
        background-color: @event-background-color-alternate;

        &.active {
            background: @event-background-active-alternate;
        }

        &.past {
            background-color: @event-background-color-past-alternate;
        }
    }

    &:nth-child(odd) {
        border-left-color: @event-border-color;

        &.past {
            border-left-color: @event-border-color-past;
        }
    }

    &:nth-child(even) {
        border-left-color: @event-border-color-alternate;

        &.past {
            border-left-color: @event-border-color-past-alternate;
        }
    }

    &.past a, &.past li::after {
        opacity: 0.2;
    }

    &.active {
        background: @event-background-active;
    }

    a.summary, a.creator {
        line-height: @step-height;
        height: @step-height;
    }

    a.summary {
        .responsive-font-size(0.5);

        padding: 0 1vh;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-grow: 1;
        max-width: 75%;
    }

    a.creator {
        .responsive-font-size(0.3, 800px);

        flex-grow: 1;
        padding: 0 1vh;
        max-width: 25%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: right;
    }

    ul.attendees {
        .responsive-font-size(0.3, 800px);

        visibility: hidden;
        display: flex;
        flex-basis: 100%;
        flex-direction: row;
        padding: 0 1vh;
        overflow: hidden;
        flex-wrap: wrap;

        li {
            display: inline-flex;
            white-space: nowrap;
            line-height: 0.5 * @step-height;

            &:not(:last-of-type)::after {
                content: ', ';
                white-space: pre;
            }
        }
    }
}
